.lb {
    width: 100px;
    margin-left: 800px;
    margin-top: -50px;
}
.lb2 {
    width: 190px;
    margin-top: -75px;
    margin-left: 910px;
}
.botao {
    margin-left: 648px;
    margin-top: 30px;
}
